.initial-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .title {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
    color: #333;
  }
  div.logo {
    margin-top: 2rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 20rem;
      height: auto;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .description {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    text-align: center;
    color: #d7d7d7;
  }
  .progress-container {
    height: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .progress-count {
    margin: 10px 0;
    color: #d7d7d7;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
  }
  .progress {
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    height: 1rem;
    .bar {
      //transition: width 0.2s;
      height: 1rem;
      background: rgb(138, 76, 255);
      background: linear-gradient(0deg, rgba(138, 76, 255, 1) 0%, rgba(138, 76, 255, 1) 20%, rgba(51, 80, 184, 1) 100%);
      position: relative;
      text-align: center;
      color: #fff;
      font-family: 'Inter', sans-serif;
      font-optical-sizing: auto;
      vertical-align: middle;
      line-height: 2.5rem;
      border-radius: 10px;
    }
    .info {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      text-align: center;
      width: 100%;
      margin: 10px 0;
      color: #d7d7d7;
    }
    .errors {
      padding: 8px;
      font-family: 'Inter', sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      color: #ff0000;
    }
  }
}
