.lobby-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .main-lobby-container {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
  }
  .main-container {
    height: 500px;
    min-width: 420px;
    max-width: 700px;
    position: relative;
    display: flex;
    align-items: flex-start;
    &.setting-board {
      .input-container:first-of-type {
        position: relative;
        top: 50px;
      }
      .parallelograms:first-of-type {
        position: absolute;
        top: 35px;
        padding: 15px;
        height: max-content;
        .parallelogram {
          width: 40px;
          height: 20px;
        }
      }
    }
  }
  .wrapper-outline {
    padding: 10px;
    border: 1px solid rgb(55, 88, 93);
    border-radius: 10px;
    > .wrapper {
      height: 500px;
      min-width: 420px;
      max-width: 700px;
      border-radius: 10px;
      padding: 40px 40px 75px;
      background-color: #1f2941;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 68% 100%, 65% 96%, 34% 96%, 30% 100%, 0 100%);
    }
  }
  .wrapper-border {
    background-color: #121625;
    width: 100%;
    border: 4px solid #d5d5d5;
    box-shadow:
      inset 0px 10px 0px rgba(0, 0, 0, 0.3),
      0px 16px 0px rgba(0, 0, 0, 0.3);
    height: 100%;
  }
  .trapezoid {
    width: 270px;
    height: 50px;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
    &.settings {
      position: relative;
      background: linear-gradient(to right, #bb77fb 1%, #7e4cf5 30%, #3850bc 80%);
      top: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
    }
    &.leaderboard {
      position: relative;
      background: linear-gradient(to right, #b2f1e8, #f7ffec);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .main-trapezoid {
    justify-items: center;
    position: absolute;
    width: 100%;
    z-index: 1;
    &.for-leaderboard {
      top: -40px;
    }
  }
  .minis {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -20px;
    width: 350px;
    > .mini-trapezoid {
      width: 70px;
      height: 20px;
      clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
      background: #00e0ea;
    }
  }
  .sides-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 5px 30px;
  }
  .side {
    width: 40px;
    height: 75px;
    clip-path: polygon(0% 0%, 100% 30%, 100% 100%, 0% 100%);
    background: #8a4cff;
  }
  .flip {
    transform: scaleX(-1);
  }
  .parallelograms {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 75px;
    > .parallelogram {
      background-image: url('../public/parallelogram.svg');
      width: 60px;
      height: 25px;
      background-repeat: no-repeat;
    }
  }
  .lens-container {
    height: 90px;
    min-width: 100%;
    position: absolute;
    overflow: hidden;
    &.top {
      top: 9px;
      > .eclipse {
        top: -5px;
      }
      > .lens {
        left: 100px;
        top: -60px;
        width: 70px;
        height: 100px;
      }
    }
    &.bottom {
      bottom: 0px;
      overflow: visible;
      > .eclipse {
        bottom: 40px;
        min-width: 100%;
        clip-path: ellipse(32% 10% at 50% 50%);
      }
      > .lens {
        right: 140px;
        bottom: 0px;
        width: 30px;
        height: 100px;
        background: radial-gradient(
          closest-side circle at center,
          hsl(207.69, 100%, 50%) 0%,
          #00c2ff 15%,
          hsl(200.34, 50%, 83.05%) 30%,
          hsla(4, 0%, 0%, 0.3) 15%,
          hsl(0deg 0% 100% / 98%) 50%,
          transparent 0%
        );
        &::before {
          width: 110px;
          height: 100px;
          left: -45px;
          top: 5px;
        }
      }
    }
  }
  .lens {
    position: absolute;
    border-radius: 100%;
    background: radial-gradient(
      closest-side circle at center,
      hsl(254.77, 100%, 98.28%) 0%,
      hsl(4, 5%, 100%) 0%,
      hsl(200.34, 100%, 83.05%) 0%,
      hsla(4, 0%, 50%, 0.3) 75%,
      hsla(235.9, 100%, 80.64%, 0.98) 60%,
      transparent 80%
    );
    filter: blur(8px);
    z-index: 1;
    &::before {
      content: '';
      display: block;
      width: 170px;
      height: 180px;
      left: -65px;
      top: -45px;
      position: absolute;
      border-radius: 100%;
      background: radial-gradient(closest-side circle at center, hsla(199.38, 100%, 86.21%, 0.19) 0%, transparent 100%);
      z-index: 1;
    }
  }
  .eclipse {
    height: 15px;
    min-width: 100%;
    clip-path: ellipse(40% 15% at 50% 50%);
    background: radial-gradient(
      circle at center,
      rgb(0, 224, 233),
      rgb(166 250 255 / 78%) 30%,
      rgba(255, 255, 255, 0.1) 70%,
      transparent 100%
    );
    z-index: 15;
    position: absolute;
  }
  .header {
    font-family: 'Corporation-Italic', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
  }
}
