@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@import 'tailwindcss/preflight';

html,
body,
#root {
  height: 100%;
  margin: unset;
  user-select: none;
}

/* Tailwind Directives */
@tailwind utilities;

/* Google Fonts Imports */
@font-face {
  font-family: 'Caprasimo';
  src: url('@assets/fonts/caprasimo-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bebas';
  src: url('@assets/fonts/bebasneue-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Corporation-Regular';
  src: url('@assets/fonts/corporation-games-straight.otf') format('opentype');
}

@font-face {
  font-family: 'Corporation-Italic';
  src: url('@assets/fonts/corporation-games.otf') format('opentype');
}

.inter-regular {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Tailwind Component Layer */
@layer components {
  /* Custom component styles */
}

/* Global Styles */
body {
  background-image: url('@assets/background.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

.radio-label {
  @apply flex cursor-pointer items-center justify-center text-center select-none;
  color: #787878; /* Using the hex value directly */
}

/* Custom CSS */

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::selection {
  background-color: transparent;
}

.button-grp {
  display: flex;
  gap: 30px;
}

.play-button {
  margin-top: 7rem;
  padding: 15px;
  background-color: #db1f48;
  color: #fff;
  font-family: 'Caprasimo', sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  border-radius: 13px;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s,
    background-color 0.2s;
  outline: 2px solid #e9e9e9;
  width: 12rem;
  background-image: url('@assets/button-bg.svg');
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1px #e9e9e9;

  animation:
    bounce 1.5s infinite 1.5s,
    fadeIn 1s ease forwards;
  &:hover {
    transform: translateY(-2px);
    box-shadow: inset 0 0 0 1px #e9e9e9;
  }

  &.other {
    background-color: #06c7cf;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(1, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(1, 0, 0, 1);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.input-name {
  border-radius: 30px;
  height: 35px;
  box-shadow:
    inset 0 5px 0 0 rgb(22 22 22 / 30%),
    0 4px 0 rgba(0, 0, 0, 0.3);
  background: linear-gradient(to right, #bb77fb, #7e4cf5, #3850bc);
  z-index: 1;
  font-family: 'Caprasimo', sans-serif;
  text-align: center;

  &:focus-visible {
    outline: none;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 15px;

  > label {
    position: relative;
  }

  > .input-mode {
    z-index: 1;
  }
}

.input-mode {
  height: 40px;
  width: 120px;
  background-color: #2c3c51;
  border-radius: 10px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Caprasimo', sans-serif;
  background-image: url('@assets/button-bg.svg');
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition:
    background 0.3s ease,
    transform 0.3s ease;

  &::after {
    content: '';
    width: 5px;
    height: 60%;
    background: #db1f48;
    position: absolute;
    left: -5px;
    border-radius: 3px 0 0 3px;
  }

  &::before {
    content: '';
    width: 5px;
    height: 60%;
    background: #db1f48;
    position: absolute;
    right: -5px;
    border-radius: 0 3px 3px 0;
  }
}

input[type='radio']:checked + .input-mode {
  background-image: url('@assets/button-bg.svg'), linear-gradient(to right, #8a4cff, #3850bc);
  background-size: cover;
  background-position: center;
  transform: scale(1.05);

  &::after {
    background: #83ff00;
  }

  &::before {
    background: #83ff00;
  }
}
