html,
body,
#root {
  height: 100%;
  margin: unset;
}

/* Tailwind Directives */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts Imports */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
  font-family: 'Caprasimo';
  src: url('/public/fonts/caprasimo-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bebas';
  src: url('/public/fonts/bebasneue-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Corporation-Regular';
  src: url('/public/fonts/corporation-games-straight.otf') format('opentype');
}

@font-face {
  font-family: 'Corporation-Italic';
  src: url('/public/fonts/corporation-games.otf') format('opentype');
}

.inter-regular {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Tailwind Component Layer */

@layer components {
  /* Custom component styles */
}

/* Global Styles */

body {
  background-image: url('/public/background.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

.radio-label {
  @apply flex cursor-pointer select-none items-center justify-center text-center text-default-gray300;
}

/* Custom CSS */

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::selection {
  background-color: transparent;
}

.play-button {
  margin-top: 7rem;
  padding: 15px;
  background: #db1f48;
  color: #fff;
  font-family: 'Caprasimo', sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  border-radius: 13px;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s,
    background-color 0.2s;
  outline: 2px solid #e9e9e9;
  width: 10rem;
  background-image: url('../public/button-bg.svg');
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1px #e9e9e9;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 0 1px #e9e9e9;
  }
}

.input-name {
  border-radius: 30px;
  height: 35px;
  box-shadow:
    inset 0px 5px 0px 0px rgb(22 22 22 / 30%),
    0px 4px 0px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to right, #bb77fb, #7e4cf5, #3850bc);
  z-index: 1;
  font-family: 'Caprasimo', sans-serif;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 15px;
  > label {
    position: relative;
  }
  > .input-mode {
    z-index: 1;
  }
}

.input-mode {
  height: 40px;
  width: 120px;
  background: #2c3c51;
  border-radius: 10px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Caprasimo', sans-serif;
  background-image: url('../public/button-bg.svg');
  background-size: cover;
  background-position: center;
  cursor: pointer;
  &::after {
    content: '';
    width: 5px;
    height: 60%;
    background: #db1f48;
    position: absolute;
    left: -5px;
    border-radius: 3px 0 0 3px;
  }
  &::before {
    content: '';
    width: 5px;
    height: 60%;
    background: #db1f48;
    position: absolute;
    right: -5px;
    border-radius: 0 3px 3px 0;
  }
}

//todo
input[type='radio']:checked > .input-name {
  background: #4caf50;
}
