html,
body,
#root {
  height: 100%;
  margin: unset;
}

/* Tailwind Directives */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts Imports */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
.inter-regular {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Tailwind Component Layer */

@layer components {
  /* Custom component styles */
}

/* Global Styles */

body {
  background-image: url('/public/background.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

.radio-label {
  @apply flex cursor-pointer select-none items-center justify-center text-center text-default-gray300;
}

/* Custom CSS */

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::selection {
  background-color: transparent;
}

.play-button {
  margin-top: 7rem;
  padding: 15px;
  background-color: #db1f48;
  color: #fff;
  font-family: 'Caprasimo', sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  border-radius: 13px;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s,
    background-color 0.2s;
  outline: 2px solid #e9e9e9;
  background: linear-gradient(145deg, #db1f48, #db1f48);
  width: 10rem;
  background-image: url('../public/button-bg.png');
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1px #e9e9e9;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 0 1px #e9e9e9;
  }
}
